# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Jest
coverage/

# Playwright
playwright-report/
